* {
  box-sizing: border-box;
}

/* #region Tamagotchi Assets Layout */

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -webkit-app-region: drag;
  background-image: url("assets/tamagotchiDetails.png"), url("assets/tamagotchiBackground.png");
  background-size: 282px 348px, cover;
  background-repeat: no-repeat;
  background-position: center;
}

.screen {
  position: relative;
}

.frame {
  position: fixed;
  top: 81px;
  left: 56.7px;
  z-index: 100;
}

.screenBackground {
  position: fixed;
  top: 81px;
  left: 58px;
  z-index: 0;
}

/* #endregion */

/* #region Bottom Buttons Layout */

.menuButton {
  background: transparent;
  padding: 0;
  cursor: pointer;
  border: transparent;
  overflow: none;
  outline: none;

  position: fixed;
  top: 281.7px;
  left: 122.3px;
}

.blueButtonLeft{
  position: fixed;
  top: 267.4px;
  left: 46.5px;
}

.blueButtonRight {
  position: fixed;
  top: 267.4px;
  left: 192.7px;
}

/* #endregion */

/* character sprite assets */

.character {
  position: absolute;
  top: 113px;
  left: 91.5px;

  width: 123px;
  height: 123px;
  z-index: 50;

  background-color: transparent;
}

.character img {
  position: fixed;
  left: 87px;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}